.createspot-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    margin-top: 40px;
    margin-left: 10vw;
}

.createspot-welcome {
    display: flex;
    flex-direction: column;
}

.createspot-welcome > h2 {
    margin: 5vw;
}

.createspot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creatspot-field {
    margin: 10px;
}
.createspot-form > button {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    background: #cccccc;
    margin : 30px;
}

.createspot-form > button:hover {
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);

}

.createspot-form > button {
    cursor: pointer;
}
textarea {
    resize: none;
}
