.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
    background: #ffffff;
    padding: 20px;
    width: 50vw;
}

.signup-header > p {
    display: flex;
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.signup-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.signup-field {
    margin: 10px;
}

.input-field {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    color: black;
    padding: 10px;
}

.input-field:focus {
    outline: none;
    border: 1px solid #6e6e6e;

}

.signup-btn {
    margin: 10px;
}

.signup-btn > button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    background: #cccccc;
    cursor: pointer;
}

.signup-btn > button:hover {
    background: #FF5A5F;
}
