
.reviews-card {
    display: grid;
    grid-template-columns: 400px 400px;

    
}
.review-user-container {
    max-width: 400px;
    padding: 20px;
}

.user-profile {
    object-fit: cover;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
