footer {
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
    
}

.footer-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    font-size: 14.5px;
}
.footer-left, .footer-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.personal-link > a {
    text-decoration: none;
}

.personal-link>a:hover {
    color: #FF5A5F;
    font-weight: 700;
}
a:visited {
    text-decoration: none;
    color: black
}


@media only screen and (max-width: 600px){
    footer {
        box-sizing: border-box;
        border-top: 1px solid #cccccc;
        max-width: 600px;
        height: 30px;
        
    }
    
    .footer-container {
        display: flex;  
        justify-content: center;
        width: 600px;
    }
    .footer-left {
        display: flex;
        flex-direction: row;
        width: 600px;
        margin: 10px 10px 10px 80px; 
    }

    .footer-right {
        visibility: hidden;
    }
    
}
