




.spot-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
    box-sizing: border-box;
    border-radius: 10px;
    /* margin-top: 20px; */
}

.spot-imagee {
    width: 560px;
    height: 495px;
    object-fit: cover;
    /* border-radius: 5px; */

}

.photo-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
}

.spot-photos {
    width: 272px;
    height: 244.5px;
    /* border-radius: 5px; */
}

.spot-detail-container {
    margin-top: 20px;
}

.spot-host {
    display: grid;
    grid-template-columns: 600px 50px;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 653px;
    height: 100px;
}
.host-name {
   /* padding-left: 30px; */
}
.profile-photo {
    border-radius: 80%;
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.spot-mockup {
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 653px;
}
.mockup-item {
    margin: 30px;
}
.spot-desc {
    box-sizing: border-box;
    /* border-bottom: 1px solid #cccccc; */
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 653px;;
}

.reviews-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.review-user-container {
    max-width: 400px;
    padding: 20px;
}

.user-profile {
    object-fit: cover;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.reviewer-info {
    display: flex;
    flex-direction: row;
}
.review-name {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 600;
}

.review-description {
    padding-top: 10px;
    padding-bottom: 20px;
}

.btn-newreview {
    margin-top: 20px;
}
.spot-review {
    max-width: 1000px;
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
}
