.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    place-items: center;
    gap: 20px;
    margin-top: 30px;
}
.spots-container > a, .spots-container > a:link,.spots-container > a:visited   {
    text-decoration: none;
    background-color: transparent;
    color: black;
    margin-top: 30px
}





.spot-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 20vw;
    height: 300px;
}

.spot-image {
    width: 21vw;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.spot-image > img {
    box-sizing: border-box;
    border-radius: 10px;
}
.spot-name-row {
    display: flex;
    flex-direction: row;
    width: 21vw;
    margin-top: 5px;
}

.spot-name {
    flex-grow: 1;
    max-width: 18vw;
    font-size: 15.5px;
    font-weight: 700;
}
.spot-name-info {
    font-size: 15px;
}

.fa-solid {
    font-weight: 700;
    font-size: 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
