.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
    place-items: center;
    gap: 20px;
}
.spots-container > a, .spots-container > a:link,.spots-container > a:visited   {
    text-decoration: none;
    background-color: transparent;
    color: black;
    margin-top: 30px
}





.spot-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}

.spot-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.spot-name-row {
    display: flex;
    flex-direction: row;
}

.spot-name {
    flex-grow: 1;
    max-width: 250px;
    font-size: 17px;
    font-weight: 700;
}

.fa-solid {
    font-weight: 700;
    font-size: 15px;
}
