.spot-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
}


.spot-info {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}




.spot-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 80vw;
    box-sizing: border-box;   
}

.photo-one > img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.photo-four {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.photo-border1 {
    border-top-right-radius: 15px;
}
.photo-border2 {
    border-bottom-right-radius: 15px;
}


.spot-detail-container {
    margin-top: 20px;
    /* width: 80vw; */
}

.spot-host {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 40vw;
    height: 100px;
}
.host-name {
   /* padding-left: 30px; */
}
.profile-photo {
    border-radius: 80%;
    width: 55px;
    height: 55px;
    object-fit: cover;
}
.spot-mockup {
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
    width: 40vw;
}
.mockup-item {
    margin: 30px;
    font-size: 16px;
}
.mockup-para {
    font-size: 16px;
}
.spot-desc {
    box-sizing: border-box;
    /* border-bottom: 1px solid #cccccc; */
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 40vw;
    
}
.spot-desc-detail > p {
    font-size: 16px;
}
.reviews-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;  
}
.review-user-container {
    max-width: 400px;
    padding: 20px;
}

.user-profile {
    object-fit: cover;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.reviewer-info {
    display: flex;
    flex-direction: row;
}
.review-name {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    font-size: 16px;
}

.review-description {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
}

.btn-newreview {
    margin-top: 20px;
}
.spot-review {
    /* max-width: 1000px; */
    box-sizing: border-box;
    border-top: 1px solid #cccccc;
    width: 80vw;
}
