/* TODO Add site wide styles */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;  
}
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

a {
    /* font-size: 16px; */
}
.page-container {
    width: 95vw;
    height: 90vh;
}
