/* TODO Add site wide styles */
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;   
}

.page-container {
    max-width: 1000px;
}
