.field {
    width: 310px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    color: black;
    padding: 10px;
 
}

.field:focus {
    outline: none;
    border: 1px solid #6e6e6e;
}
