.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
}
.navigation-logo {
    padding-left: 30px;
}
.navigation-bar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.link-createspot {
    margin-right: 30px;
    
}

.link-content, .link-content:visited {
    text-decoration: none;
}

.link-content {
    color: black;
    font-weight: 700;
    cursor: pointer;
}
.link-content:hover {
    color: #FF5A5F;
}
